

._centerPageImage{
    margin:auto;
    width: 50%;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 22px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: darkblue;
}

body {
    font-family: 'Tangerine', serif;
    font-size: 20px;
    color: chocolate;
    font-family: 'Open Sans', sans-serif;
}

    h2 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end:15px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: darkblue
    }

    h3 {
        display: block;
        font-size: 1em;
        margin-block-start: 0.67em;
        margin-block-end: 22px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: darkblue;
    }

    h4 {
        display: block;
        font-size: 1em;
        margin-block-start: 0.67em;
        margin-block-end: 22px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: darkblue;
    }